.header {
  height: 60px;
  padding: 0 20px;
  background: #181818;
  color: #FFE601;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .balance-block {
    width: 82px;
  }
}
